<div class="jumbotron text-center">
  <div class="caption">
    <h1>Mongo Scraper</h1>
    <p>New York Post Edition</p>
    <p>Get Started</p>
    <a class="waves-effect waves-light btn" href="/Scrape">Scrape New Articles
    <i class="material-icons right">Mood</i>
  </div>
</div>